<div class="modal-header">
  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>

<div class="modal-header position-relative border-0 pb-0">
  <h1 class="modal-title m-0 w-100 text-center"><%= project.name %></h1>
  <button type="button" class="btn-close btn-close-white position-absolute end-0 top-0 mt-3 me-3" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<% media = project.photos + project.videos %>

<div id="projectCarousel" class="carousel slide mt-3" data-bs-interval="false">
  <div class="carousel-inner">
    <% media.each_with_index do |item, index| %>
      <div class="carousel-item <%= 'active' if index.zero? %>">
        <% if item.image? %>
          <%= image_tag item, class: "fullscreen-image d-block w-100" %>
        <% elsif item.video? %>
          <video autoplay loop muted playsinline class="fullscreen-image d-block w-100">
            <source src="<%= url_for(item) %>" type="<%= item.content_type %>">
            Your browser does not support the video tag.
          </video>
        <% end %>
      </div>
    <% end %>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#projectCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#projectCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<p class="mt-3"><%= project.description %></p>


<div class="modal-footer">
</div>
