                <div class="index-page bg-black">
                  <div class="container">
                    <div class="row mt-3">
                    <!-- butterfly-asset -->
                    <% @projects.each do |project|%>
                    <div class="col-md-3 col-sm-6">
                      <div class="project-card">
                        <%= image_tag project.photo, alt: project.name %>
                      </div>
                    </div>
                    <% end %>

                    <div class="col-md-3 col-sm-6">
                      <div class="project-card">
                      <%= image_tag "butterfly.png", alt: "Project 1" %>
                      </div>
                    </div>

                    <!-- grave -->
                    <div class="col-md-3 col-sm-6">
                        <div class="project-card">
                           <%= image_tag "graveemoji.png", alt: "Project 2" %>
                        </div>
                    </div>
                      <!-- stick -->
                    <div class="col-md-3 col-sm-6">
                      <div class="project-card">
                          <%= image_tag "magicalstick.png", alt: "Project 3" %>
                      </div>
                  </div>
                      <!-- VJ -->
                      <div class="col-md-3 col-sm-6">
                        <div class="project-card">
                            <%= image_tag "VJ.png", alt: "Project 4" %>
                        </div>
                    </div>
                  </div>

                  <div class="row">
                    <!-- club paradiso -->
                    <div class="col-md-3 col-sm-6">
                        <div class="project-card">
                            <%= image_tag "club.png", alt: "Project 5" %>
                        </div>
                    </div>
                      <!-- poster -->
                      <div class="col-md-3 col-sm-6">
                        <div class="project-card">
                            <%= image_tag "poster1.png", alt: "Project 6" %>
                        </div>
                    </div>
                     <!-- Gentle Leash -->
                     <div class="col-md-3 col-sm-6">
                      <div class="project-card">
                          <%= image_tag "instagram_poster_blue.png", alt: "Project 7" %>
                      </div>
                  </div>
                   <!-- JC -->
                   <div class="col-md-3 col-sm-6">
                    <div class="project-card">
                        <%= image_tag "jC.png", alt: "Project 8" %>
                    </div>
                </div>
                  </div>
                  <div class="row">
                      <!-- ernie -->
                     <div class="col-md-3 col-sm-6">
                        <div class="project-card">
                            <%= image_tag "0041.png", alt: "Project 9" %>
                        </div>
                    </div>
                  </div>
                  </div>
                </div>
